{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie
{% endblock %}

{% block body %}

	<div>
		<div>
			<h1>Ajouter une nouvelle catégorie</h1>
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
