{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Tous les produits</h1>
    <ul>
    {% for product in products %}
    <li>{{product.name}}</li>
    {% endfor%}
    </ul>
</div>
{% endblock %}
